<h1><%= facade.student_count %> Students</h1>
<% facade.students.each do |student| %>
  <section class="student">
    <h3>Name: <%= student.name %></h3>
    <p>ID: <%= student.id %></p>
  </section>
<% end %>
